# All object files
*.o

# Don't add the exe
*.exe

# Don't need vscode stuff
.vscode/*
.vs/*

# Don't need output
output/*

# Don't want files from other repos on here
header/happly.h
header/stb_image.h