void addShapeTest(World* world)
{
    // Illumination Models

    Phong* conePhong = new Phong(0.9, 0.3, 0.65, 50);
    conePhong->setPhongBlinn(true);

    Phong* floorPhong = new Phong(0.2, 0.7, 0.3, 2);
    Phong* floor2Phong = new Phong(0.2, 0.7, 0.3, 2);

    Checkerboard* floorCheckerboard
        = new Checkerboard(Color(1.0f, 0.0f, 0.0f), Color(1.0f, 1.0f, 0.0f), 70.0f, 10.0f, 0.1f, 1000.0f);
    floorCheckerboard->setPerlinNoise(false);
    Checkerboard* floor2Checkerboard
        = new Checkerboard(Color(1.0f, 0.0f, 0.0f), Color(1.0f, 1.0f, 0.0f), 70.0f, 10.0f, 0.1f, 1000.0f);
    floor2Checkerboard->setPerlinNoise(false);

    // Create objects here !!!Make sure they're dynamically allocated - they will get destroyed by the world
    Cone* cone = new Cone(Point(0.0, 0.2, 4.0), Point(0.0, 2.0, 4.0), 1.0f);
    cone->setColor(Color(0, 0, 1));
    cone->setIlluminationModel(conePhong);
    cone->setKReflection(0.0f);
    cone->setKTransmission(0.9f);
    cone->setIndexOfRefraction(1.0f);
    cone->setMaxDepth(7);

    Triangle* floor1 = new Triangle(-3, -1.5, -60, -3, -1.5, 10, 7, -1.5, -60);
    floor1->setColor(Color(0, 1, 0));
    floor1->setIlluminationModel(floorPhong);
    floor1->setTexture(floorCheckerboard);
    floor1->setTexturePoints(Eigen::Vector2d(0.0f, 0.0f), Eigen::Vector2d(1.0f, 0.0f), Eigen::Vector2d(0.0f, 1.0f));

    Triangle* floor2 = new Triangle(7, -1.5, -60, -3, -1.5, 10, 7, -1.5, 10);
    floor2->setColor(Color(0, 1, 0));
    floor2->setIlluminationModel(floor2Phong);
    floor2->setTexture(floor2Checkerboard);
    floor2->setTexturePoints(Eigen::Vector2d(0.0f, 1.0f), Eigen::Vector2d(1.0f, 0.0f), Eigen::Vector2d(1.0f, 1.0f));

    world->addModelObject(cone);
    world->addModelObject(floor1);
    world->addModelObject(floor2);
}